

.TicketPopup_2025_main_div{
    /* background-image: url('../../Images/About\ Section\ image\ 2.jpeg'); */
    background-image: url("https://i.imgur.com/XxiuwTa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}